#comite-de-direction-2023 > .container{
    width: 100% !important;
    max-width: none !important;
    padding-left: 0;
    padding-right: 0;
}
#comite-de-direction-2023 img{
    object-fit: cover;
    aspect-ratio: 2/3;
    margin: 0 auto;
}
#comite-de-direction-2023 .wp-block-column{
    text-align: center;
    font-size: 0.75rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
#comite-de-direction-2023 .wp-block-column{
    background-color: var(--blue-light);
}
#comite-de-direction-2023 .wp-block-column:empty{
    background-color: transparent;
}
#comite-de-direction-2023 .highlight_section .wp-block-column{
    background-color: var(--white);
}
#comite-de-direction-2023 .highlight_section .wp-block-column:empty{
    background-color: transparent;
}
#comite-de-direction-2023 h3{
    font-weight: 700;
    font-size: 1rem;
    margin: 0.5rem;
    border: 0;
    text-transform: none;
    padding: 0;
    line-height: normal;
}
#comite-de-direction-2023 .wp-block-column > h5:first-child{
    margin-top: 20rem;
}


h3::before{
    display: none;
}




#comite-de-direction-2023 h5{
    font-weight: 700;
    text-transform: uppercase;
    margin: 0.5rem;
    line-height: normal;
}
#comite-de-direction-2023 p{
    margin: 0.5rem;
    line-height: normal;
}

@media screen and (min-width: 480px) and (max-width: 781px){
    #comite-de-direction-2023 .wp-block-columns{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
    