

@media screen and (min-width: 768px) {

    .tabs{
        box-shadow: 0 15px 30px rgb(0 0 0 / 0.05);
    }
    .react-tabs__tab-list{
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
        margin: 0;
    }   
    .react-tabs__tab {
        border: 1px solid var(--green-light);
        border-right: 0;
        cursor: pointer;
        padding:1rem;
        h3,p{
            padding: 0 !important;
            margin: 0 !important;
            text-align: center;
            color: var(--green);
            line-height: 1;
        }
        h3{
            font-size: 1.5rem;
            font-weight: 600;
            border: 0;
        }
        &.react-tabs__tab--selected{
            background-color: var(--green) !important;
            border: 0 !important;
            border-radius:0;
            outline-color: transparent;
            h3,p{
                color: var(--white);
            }
        }
        &:last-child{
            border-right: 1px solid var(--green-light) !important;
        }
    }
    .react-tabs__tab-panel table td:first-child{
        width: 10rem;
    }
    .react-tabs__tab-panel--selected{
        padding: 1rem 3rem 5rem
    }
}
.programme-content h3{
    border: 0;
    text-transform: none;
    font-weight: 600;
    margin: 0;
}
