#sponsors .sponsors-gallery{
     img{
    padding: 3rem;
    max-height: none;
    }
    figure{
        margin: auto !important;
    }
    .biglogo{
        padding: 2rem;
    }
}
@media screen and (max-width: 768px) {
    #sponsors .sponsors-gallery img{
        padding: 1rem;
    }
}